:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --grey-color: #757575;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --second-background: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --items-color: #afb1b8;
}

body {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0px;
}

.section-header {
  font-style: normal;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* Шапка профиля */

.header {
  border-bottom: 1px solid #ececec;
}
.conteiner {
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  width: 294px;
  justify-content: space-between;
  margin-right: 305px;
  padding-left: 0px;
}

.contacts {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  width: 370px;
}
.logo {
  width: 145px;
  margin-right: 93px;

  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.accent-logo {
  color: var(--accent-color);
}

.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -34px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus,
.site-nav .active {
  color: var(--accent-color);
}

.contacts a {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

.mail {
  width: 161px;
}
.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}
.phone {
  width: 142px;
}
.ivon-tel {
  fill: currentColor;
  margin-right: 10px;
}

/* Секция фильтров */
.filter-section {
  padding-top: 94px;
  padding-bottom: 50px;
}

.hidden {
  display: none;
}
.button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  min-width: 73px;

  color: var(--primary-text-color);
  background-color: var(--second-background);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.button-item {
  display: flex;
  justify-content: center;
}
.button-item li:not(:last-child) {
  margin-right: 8px;
}
.button-item li:hover,
.button-item li:focus {
  box-shadow: 0px 2px rgba(0, 0, 0, 0.12), 0px 1px rgba(0, 0, 0, 0.08),
    0px 3px rgba(0, 0, 0, 0.1);
}

.button-item li {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Секция карточек */

.cards-section {
  padding-bottom: 94px;
}
.cards p {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards-item img {
  width: 100%;
  height: auto;
  display: block;
}

.project-hover p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;

  padding: 63px 24px;
  color: var(--white-color);
}
.project-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-item:hover .project-hover {
  transform: translateY(0);
}

.project-content {
  position: relative;
  overflow: hidden;
}
.cards-item {
  margin-right: 30px;
  width: 370px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-item:hover,
.cards-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-item:nth-child(3n + 3) {
  margin-right: 0px;
}

.cards-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.cards-bottom {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/*Footer*/
.footer {
  color: var(--white-color);
  background-color: var(--background-color);
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
  width: 145px;

  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 9px;
}
.local-ad {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.footer-section {
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.address-link {
  margin-bottom: 0px;
  color: var(--footer-contacts-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.welcome {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  min-width: 206px;
  margin-left: 70px;
}
.welcome-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-icons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.icon-footer {
  width: 20px;
  height: 20px;
}
.footer-icon-link {
  width: 44px;
  height: 44px;
  padding: 12px;
  display: inline-block;
  border-radius: 50%;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  margin-left: 93px;
  width: 570px;
}

.footer-form {
  position: relative;
  margin-top: 20px;
  display: flex;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);

  background-color: var(--background-color);
}
.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-label {
  position: absolute;
  margin-left: 16px;

  top: 50%;
  transform: translateY(-50%);

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  border: none;

  align-items: center;
  text-align: center;

  font-style: normal;
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}
.footer-form svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;

  fill: var(--white-color);
}

/* секция HERO */
.hero {
  background-color: var(--background-color);
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herobg.jpg);
  background-size: cover;
  background-position: center;
}

.hero .conteiner {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero h1 {
  margin-bottom: 30px;

  color: var(--white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.open-modal {
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.open-modal:hover,
.open-modal:focus {
  background-color: #188ce8;
}
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.modal {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;

  background-color: var(--white-color);
  min-width: 528px;
  min-height: 581px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  background-color: var(--white-color);
  fill: var(--primary-text-color);

  cursor: pointer;
}
.modal-button:focus .modal-close,
.modal-button:hover .modal-close {
  fill: var(--accent-color);
}
.modal-close {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 11px;
  height: 11px;
  transform: translate(-50%, -50%);
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-section {
  padding: 40px;
}
.form-list {
  display: block;
}
.form-field {
  display: flex;
  flex-direction: column;
}
.form-policy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}
.form-title {
  text-align: center;

  margin-bottom: 12px;
  width: 448px;

  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.15;
}

.form-input {
  padding-left: 42px;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-text-color);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  margin-bottom: 25px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-label {
  margin-bottom: 4px;
  text-align: left;

  color: var(--grey-color);
  font-size: 12px;
  line-height: 1.16;
}
.form-policy label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.policy-link {
  margin-left: 4px;
  text-decoration: underline;
  color: var(--accent-color);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form-button {
  width: 200px;
  height: 50px;

  align-self: center;
  font-style: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border-radius: 4px;
  color: var(--white-color);
  border: 0;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:focus {
  background-color: #188ce8;
}
.input-block {
  position: relative;
  margin-bottom: 10px;
}
.form-svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus ~ .form-svg {
  fill: var(--accent-color);
}

.form-field:focus-within .form-svg {
  fill: var(--accent-color);
}
.form-input:focus,
.textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
/* Секция особенности */
.features-section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.features-list {
  display: flex;
  align-items: center;
}

.features-list p {
  width: 270px;

  color: var(--grey-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.featured-subtitle {
  width: 270px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--second-background);
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
  background-size: 70px 70px;
}
.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
  background-size: 70px 70px;
}
.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
  background-size: 70px 70px;
}
.icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
  background-size: 70px 70px;
}

/* Чем мы занимаемся */
.works-conteiner {
  padding-bottom: 94px;
}
.images-list {
  display: flex;
  justify-content: center;

  margin-top: 50px;
  padding-left: 0px;
}

.images-list li:not(:last-child) {
  margin-right: 30px;
}
.images-list > img {
  width: 370px;
  height: auto;
  display: block;
  border: 1px solid transparent;
}

.work-description {
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 1.14;
  text-transform: uppercase;

  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;

  position: absolute;
  left: 0;
  bottom: 4px;
}
.description-block {
  position: relative;
  z-index: -1;
}

/* Наша команда */

.our-team {
  background-color: var(--second-background);
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team h2 {
  margin-bottom: 50px;
}

.team-list:not(:last-child) {
  margin-right: 30px;
}
.team-list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team {
  display: flex;
  padding-left: 0px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team p {
  color: var(--grey-color);
  margin-bottom: 30px;
}
.team h3 {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0px;
}
.team-cards {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.team li {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
}
.team-icons-list {
  display: flex;
  justify-content: space-around;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 30px;
}
.team-icons-link {
  width: 44px;
  height: 44px;
  padding: 12px;
  display: inline-block;
  border-radius: 50%;
  fill: var(--items-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-link:hover,
.team-icons-link:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

.team-svg {
  width: 20px;
  height: 20px;
}

/* Секция постоянные клиенты */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.companies {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.company-icons {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--items-color);
  border-radius: 4px;
  fill: var(--items-color);

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-icons svg:hover,
.company-icons svg:focus {
  fill: var(--accent-color);
}

.company-icons svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-icons:hover,
.company-icons:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
